<div class="page-header">
	<h3>Reset Password</h3>
</div>

<form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid , confirmed)" novalidate>
	
	<!-- password -->
	<div ng-class="{ 'has-success': (!regForm.firstPassword.$pristine && regForm.firstPassword.$valid) || (regForm.firstPassword.$valid && regForm.firstPassword.$submitted) , 'has-error': (!regForm.firstPassword.$pristine && !regForm.firstPassword.$valid) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
		<label>Password:</label>
		<input type="password" name="firstPassword" placeholder="Enter password" class="form-control" ng-model="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{1,}$/" ng-minlength="3" ng-maxlength="30" required />
		<p class="help-block" ng-show=" (regForm.firstPassword.$error.required && !regForm.firstPassword.$pristine) || (regForm.$submitted && regForm.firstPassword.$error.required) "> This field is required </p>
		<ul class="help-block" ng-show="( !regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.email.$error.maxlength )">
			<li>Password must have at least one lowercase number, one uppercase number, one number and one special character</li>
			<li>Must be between 3-30 .</li>
		</ul>
	</div>
	<br/>
	
	<!-- confirm password -->
	<div ng-class="{ 'has-success': confirmed && !regForm.confirmPassword.$error.required , 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine ) || (regForm.$submitted && regForm.confirmPassword.$error.required ) }">
		<label>Confirm password:</label>
		<input type="password" name="confirmPassword" placeholder="Enter password" class="form-control" match="{{[ firstPassword ]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{1,}$/" ng-minlength="3" ng-maxlength="30" required />

		<p class="help-block" ng-show=" (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) "> This field is required </p>
		<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Password do not match</p>
		
	</div>
	<br/>
	<button ng-disabled="reset.disabled" type="submit" class="btn btn-info">Reset Password</button>
</form>
<br/>



<div class="jumbtoron text-center" ng-show="reset.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<div class="row show-hide-message" ng-show="reset.successMsg">
	<div class="alert alert-success">{{reset.successMsg}}</div>
</div>
<br/>

<div class="row show-hide-message" ng-show="reset.errorMsg">
	<div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>